
body {
    font-family: sans-serif;
    background: #111;
    color: #fff;
    padding: 20px;
    text-align: center;
}
header {
    background: #b30000;
    padding: 20px;
    border-radius: 10px;
}
h1, h2 {
    color: gold;
}
audio {
    margin: 20px 0;
}
button {
    background-color: gold;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
